<div id="<%= dom_id clinic %>">
  <p>
    <strong>Name:</strong>
    <%= clinic.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= clinic.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= clinic.phone %>
  </p>

</div>
