<div id="<%= dom_id patient_card %>">
  <p>
    <strong>Number:</strong>
    <%= patient_card.number %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= patient_card.description %>
  </p>

  <p>
    <strong>Clinic:</strong>
    <%= patient_card.clinic_id %>
  </p>

</div>
