<div id="<%= dom_id specialization %>">
  <p>
    <strong>Name:</strong>
    <%= specialization.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= specialization.description %>
  </p>

</div>
